# PostgreSQL Verbindungsdaten
# Passe diese auf deine lokale/produktive Datenbank an

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Leon1704
DB_NAME=schachverein

# Server
NODE_ENV=development
PORT=3000
